<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Nurse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Delete Nurse</h2>
        <form action="/delete_nurse" method="post">
            <div class="form-group">
                <label for="employee_id">Nurse ID:</label>
                <input type="number" id="employee_id" name="employee_id" required>
            </div>
            <input type="submit" value="Delete Nurse">
        </form>
    </div>
</body>
</html>
